{% extends 'master.html' %}
{% block content %}
    <div class="row text-center">
        <h3>Problema 2</h3>
        <br/>
        <h4>(a * b) * c &#8800 a * (b * c)</h4>
        <h4>a,b,c = ?</h4>
    </div>
    <form action="{% url 'homework1.views.problem_two_response' %}">
        <input type="submit" class="button expand" value="Run"/>
    </form>
{% endblock %}