{% extends 'homework1/problem_two.html' %}
{% block content %}
    {{ block.super }}
    <div class="row text-center">
        <h4>a = {{ a }}</h4>
        <h4>b = {{ b }}</h4>
        <h4>c = {{ c }}</h4>
        <h4>(a * b) * c = {{ first }}</h4>
        <h4>a * (b * c) = {{ second }}</h4>
    </div>
{% endblock %}