{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="row text-center" xmlns="http://www.w3.org/1999/html">
        <h4>Algoritmul celor 4 rusi</h4>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="row text-center">
                <h4>Prima matrice</h4>
            </div>
            <div id="matrix1"></div>
        </div>
        <div class="large-6 columns">
            <div class="row text-center">
                <h4>A doua matrice</h4>
            </div>
            <div id="matrix2"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <form id="matrixForm" action="{% url 'homework1.views.problem_three' %}">
            <input type="hidden" name="matrix_one"/>
            <input type="hidden" name="matrix_two"/>
        </form>
        <button class="button expand" id="submit">Calculeaza</button>
    </div>
    <div id="response" class="row text-center">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% endif %}
    </div>
{% endblock %}

{% block footer_libs %}
    <script>
        var response = null;
        {% if response %}
            response = '{{ response }}';
        {% endif %}
        $(document).ready(function () {
            var qs = $.deparam.querystring();
            var matrix1 = new Matrix('matrix1');
            if (qs.matrix_one) {
                matrix1.populate(JSON.parse(qs.matrix_one))
            }
            var matrix2 = new Matrix('matrix2');
            if (qs.matrix_two) {
                matrix2.populate(JSON.parse(qs.matrix_two))
            }
            var $form = $('#matrixForm');

            if(response !== null)
            {
                response = JSON.parse(response);
                var responseMatrix = new Matrix('response', true);
                responseMatrix.populate(response)
            }

            $('#submit').click(function () {
                $form.find('input[name=matrix_one]').first().val(matrix1.serialize());
                $form.find('input[name=matrix_two]').first().val(matrix2.serialize());
                $form.submit()
            });
        });
    </script>
{% endblock %}