{% extends 'master.html' %}
{% block content %}
    <div class="text-center">
        <h3>Problema 1</h3>
        <br/>
        <h4> 1.0 + u &#8800 1.0</h4>
        <h4> u = ? </h4>
    </div>
    <form action="{% url 'homework1.views.problem_one_response' %}">
        <input type="submit" class="button expand" value="Run"/>
    </form>
{% endblock %}