.matrix-cell {
    width: 50px;
    height: 50px;
    padding: 0;
}

input.matrix-cell-input {
    margin: 0;
    height: 50px;
    width: 50px;
    text-align: center;
}

table {
    margin: 0 auto;
}

.row {
    max-width: inherit !important;
}

#addColumn {
    margin: 10px auto;
    display: block;
}

.matrix-margin {
    margin-left: 50px;
}