{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="row text-center" xmlns="http://www.w3.org/1999/html">
        <h4>Descompuneri QR</h4>
    </div>
    <div class="row">
        <div class="large-12 columns text-center">
            <h4>Generare matrice</h4>
        </div>
        <form action="#" id="generateForm">
            <div class="large-3 columns text-center">
                <label>
                    Dimensiune matrice
                    <input type="number" name="range" min="2" value="2"/>
                </label>
            </div>
            <div class="large-3" style="padding-left: 0.9375rem;  padding-right: 0.9375rem;">
                <div class="row text-center">
                    Valori intre:
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <input type="number" name="minVal" min="0" value="0"/>

                    </div>
                    <div class="large-1 columns">
                        -
                    </div>
                    <div class="large-5 columns">
                        <input type="number" name="maxVal" min="0" value="15"/>
                    </div>
                    <div class="large-1 columns">
                    </div>
                </div>
            </div>
            <div class="large-3" style="padding-left: 0.9375rem;  padding-right: 0.9375rem;">
                <button class="button expand" id="generate">Genereaza</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <div class="row text-center">
                <h4>Termeni liberi</h4>
            </div>
            <div id="matrix2"></div>
        </div>
        <div class="large-10 columns">
            <div class="row text-center">
                <h4>Matrice</h4>
            </div>
            <div id="matrix1"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <form id="matrixForm" action="{% url 'homework3.views.homework_three' %}">
            <input type="hidden" name="matrix_one"/>
            <input type="hidden" name="matrix_two"/>

            <div class="large-2 columns large-centered text-center">
                <label>
                    m: (&epsilon; = 10 <sup> - m </sup>)
                    <input type="number" name="epsilon" value="{{ epsilon }}" min="5"/>
                </label>
            </div>
        </form>
        <button class="button expand" id="submit">Calculeaza</button>
    </div>
    <div id="response" class="row text-center">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% endif %}
        <div class="row">
            {% if numpy_time %}

                <div class="row">
                    <div class="large-12 colmuns text-center">
                        Durata tema: {{ homework_time }}
                    </div>
                    <div class="large-12 colmuns text-center">
                        Durata numpy: {{ numpy_time }}
                    </div>
                </div>
                <br/>
                <br/>
            {% endif %}
            <div class="row large-centered">
                <div class="row">Vector B</div>
                <div class="matrix-margin" id="b_vector"></div>
            </div>
            <br/>
            <br/>

            <div class="row large-centered">
                <div class="row">Matricea Q</div>
                <div class="matrix-margin" id="q_matrix"></div>
            </div>
            <br/>
            <br/>

            <div class="row large-centered">
                <div class="row">Matricea R</div>
                <div class="matrix-margin" id="r_matrix"></div>
            </div>
            <br/>
            <br/>
            {% if sol %}
                <div class="row large-centered">
                    <div class="row">Solutie:</div>
                    <div class="matrix-margin" id="solution_matrix"></div>
                </div>
                <br/>
                <br/>
                <div class="row text-center">
                    <h4>Erori: </h4>
                </div>
                <div class="row">
                    <div class="large-12 columns text-center">Eroarea 1: {{ errors.0 }} </div>
                    <div class="large-12 columns text-center">Eroarea 2: {{ errors.1 }} </div>
                    <div class="large-12 columns text-center">Eroarea 3: {{ errors.2 }} </div>
                    <div class="large-12 columns text-center">Eroarea 4: {{ errors.3 }} </div>
                </div>
                <br/>
                <br/>
            {% endif %}

            {% if inverse %}
                <div class="row large-centered">
                    <div class="row">Inversa QR:</div>
                    <div class="matrix-margin" id="qr_inverse"></div>
                </div>
                <br/>
                <br/>

                <div class="row large-centered">
                    <div class="row">Inversa Numpy:</div>
                    <div class="matrix-margin" id="numpy_inverse"></div>
                </div>
                <br/>
                <br/>
                <div class="row large-centered">
                    <div class="row">||C|| = {{ inverse_c }}</div>
                </div>
                <br/>
                <br/>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block footer_libs %}
    <script>
        function getRandomArbitary(min, max) {
            return (Math.random() * (max - min) + min).toFixed(0);
        }
        var b_vector_json = null;
        var q_matrix_json = null;
        var r_matrix_json = null;
        var sol_json = null;
        var inverse_json = null;
        var inverse_numpy_json = null;
        {% if b %}
            b_vector_json = "{{ b }}";
        {% endif %}
        {% if q %}
            q_matrix_json = "{{ q }}";
            r_matrix_json = "{{ r }}";
        {% endif %}
        {% if sol %}
            sol_json = "{{ sol }}";
        {% endif %}
        {% if inverse %}
            inverse_json = "{{ inverse }}";
            inverse_numpy_json = "{{ inverse_lib }}";
        {% endif %}
        $(document).ready(function () {

            var qs = $.deparam.querystring();
            var matrix2 = new Matrix('matrix2', false, true, 1);
            var matrix1 = new Matrix('matrix1', false, false, undefined, matrix2);

            if (qs.matrix_one) {
                matrix1.populate(JSON.parse(qs.matrix_one))
            }

            if (qs.matrix_two) {
                matrix2.populate(JSON.parse(qs.matrix_two))
            }
            var $form = $('#matrixForm');
            var $generateForm = $('#generateForm');

            if (q_matrix_json !== null) {
                var b_vector = new Matrix('b_vector', true);
                b_vector.populate(JSON.parse(b_vector_json));
                var q_matrix = new Matrix('q_matrix', true);
                q_matrix.populate(JSON.parse(q_matrix_json));
                var r_matrix = new Matrix('r_matrix', true);
                r_matrix.populate(JSON.parse(r_matrix_json));
            }

            if (sol_json !== null) {
                var sol_matrix = new Matrix('solution_matrix', true);
                sol_matrix.populate(JSON.parse(sol_json));
            }

            if (inverse_json !== null) {
                var inverse = new Matrix('qr_inverse', true);
                inverse.populate(JSON.parse(inverse_json));

                var inverse_numpy = new Matrix('numpy_inverse', true);
                inverse_numpy.populate(JSON.parse(inverse_numpy_json));
            }

            $('#submit').click(function () {
                $form.find('input[name=matrix_one]').first().val(matrix1.serialize());
                $form.find('input[name=matrix_two]').first().val(matrix2.serialize());
                $form.submit()
            });

            $('#generate').click(function (event) {
                event.stopPropagation();
                event.preventDefault();
                var n, min, max;
                n = parseInt($generateForm.find('input[name=range]').first().val());
                min = parseInt($generateForm.find('input[name=minVal]').first().val());
                max = parseInt($generateForm.find('input[name=maxVal]').first().val());
                var matrix = [], matrix2_el = [];
                for (var i = 0; i < n; i++) {
                    line = [];
                    for (var j = 0; j < n; j++) {
                        line.push(getRandomArbitary(min, max));
                    }
                    matrix2_el.push([getRandomArbitary(min, max)]);
                    matrix.push(line);
                }
                matrix2.$el.empty();
                matrix2 = new Matrix('matrix2', false, true, 1);
                matrix2.populate(matrix2_el);
                matrix1.$el.empty();
                matrix1 = new Matrix('matrix1', false, false, undefined, matrix2);
                matrix1.populate(matrix);
            });
        });

    </script>
{% endblock %}