{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="row text-center" xmlns="http://www.w3.org/1999/html">
        <h4>Matrici rare - schema de stocare rara, operatii elementare </h4>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="row text-center">
                <h4>Matrice</h4>
            </div>
            <div id="matrix1"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <form id="matrixForm" action="{% url 'homework456.views.homework_four' %}">
            <input type="hidden" name="matrix_one"/>
            <input type="hidden" name="matrix_two"/>

            <div class="large-2 columns large-centered text-center">
                <label>
                    Fisier prima matrice
                    <input type="text" name="matrix_one" value="{{ matrix_one }}"/>
                </label>
                <label>
                    Fisier a doua matrice
                    <input type="text" name="matrix_two" value="{{ matrix_two }}"/>
                </label>
                <label>
                    Marimea matricii random
                    <input type="number" name="random_size" value="{{ random_size }}"/>
                </label>
            </div>
        </form>
        <button class="button expand" id="submit">Calculeaza</button>
    </div>
    <div id="response" class="row text-center">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% else %}

        {% endif %}
    </div>
{% endblock %}

{% block footer_libs %}
    <script>
        var mul = null;
        {% if mul %}
            mul = "{{ mul }}";
        {% endif %}
        $(document).ready(function () {
            if (mul !== null) {
                var lu_matrix = new Matrix('matrix1', true);
                lu_matrix.populate(JSON.parse(mul))
            }
            var $form = $('#matrixForm');

            $('#submit').click(function () {
                $form.submit()
            });
        });
    </script>
{% endblock %}