{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="row text-center" xmlns="http://www.w3.org/1999/html">
        <h4>Descompunere LU pentru rezolvarea sistemelor liniare</h4>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="row text-center">
                <h4>Matrice</h4>
            </div>
            <div id="matrix1"></div>
        </div>
        <div class="large-6 columns">
            <div class="row text-center">
                <h4>Termeni liberi</h4>
            </div>
            <div id="matrix2"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <form id="matrixForm" action="{% url 'homework2.views.homework_two' %}">
            <input type="hidden" name="matrix_one"/>
            <input type="hidden" name="matrix_two"/>

            <div class="large-2 columns large-centered text-center">
                <label>
                    m: (&epsilon; = 10 <sup> - m </sup>)
                    <input type="number" name="epsilon" value="{{ epsilon }}" min="5"/>
                </label>
            </div>
        </form>
        <button class="button expand" id="submit">Calculeaza</button>
    </div>
    <div id="response" class="row text-center">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% else %}
            <div class="row">
                <div class="large-6 columns">
                    <div class="row text-center">Descompunere LU:</div>
                    <div id="lu_matrix" class="row"></div>
                </div>
                <div class="large-6 columns">
                    <div class="row text-center">Solutia:</div>
                    <div id="solution" class="row"></div>

                </div>
            </div>
            <br/>
            <div class="row">
                <div class="large-6 columns">
                    <div class="row text-center">Determinantul matricii A:</div>
                    <div class="row">{{ lu_determinant }}</div>
                </div>
                <div class="large-6 columns">
                    <div class="row text-center">Norma: </div>
                    <div id="lu_matrix" class="row">{{ norm }}</div>
                </div>
            </div>
            <br/>
        {% endif %}
    </div>
{% endblock %}

{% block footer_libs %}
    <script>
        var lu_matrix_resp = null;
        var solution_resp = null;
        {% if lu_matrix %}
            lu_matrix_resp = "{{ lu_matrix }}";
        {% endif %}
        {% if solution %}
            solution_resp = "{{ solution }}";
        {% endif %}
        $(document).ready(function () {
            var qs = $.deparam.querystring();
            var matrix2 = new Matrix('matrix2', false, true, 1);
            var matrix1 = new Matrix('matrix1', false, false, undefined, matrix2);

            if (qs.matrix_one) {
                matrix1.populate(JSON.parse(qs.matrix_one))
            }

            if (qs.matrix_two) {
                matrix2.populate(JSON.parse(qs.matrix_two))
            }
            var $form = $('#matrixForm');

            if (lu_matrix_resp !== null) {
                var lu_matrix = new Matrix('lu_matrix', true);
                lu_matrix.populate(JSON.parse(lu_matrix_resp))
            }
            if (solution_resp !== null) {
                var solution_matrix = new Matrix('solution', true);
                solution_matrix.populate(JSON.parse(solution_resp))
            }


            $('#submit').click(function () {
                $form.find('input[name=matrix_one]').first().val(matrix1.serialize());
                $form.find('input[name=matrix_two]').first().val(matrix2.serialize());
                $form.submit()
            });
        });
    </script>
{% endblock %}