{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/matrix.css' %}">
    <title></title>
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">

        </div>
        <div class="row large-12">
            <h1 class="text-center">
                Calcul numeric
            </h1>
        </div>
        <hr/>
    </div>
</div>
<div class="row">
    <div id="content" class="large-11 columns">
        {% block content %}
            <div class="row large-12">
                <h2 class="text-center">
                    Tema 1
                </h2>

                <div class="large-12 large-centered columns text-center">
                    <div class="row">
                        <a href="{% url 'homework1.views.problem_one' %}">Problema 1</a>
                    </div>
                    <div class="row">
                        <a href="{% url 'homework1.views.problem_two' %}">Problema 2</a>
                    </div>
                    <div class="row">
                        <a href="{% url 'homework1.views.problem_three' %}">Problema 3</a>
                    </div>
                </div>
            </div>
            <div class="row large-12">
                <h2 class="text-center">
                    Tema 2
                </h2>

                <div class="large-12 large-centered columns text-center">
                    <div class="row">
                        <a href="{% url 'homework2.views.homework_two' %}">Problema 1</a>
                    </div>
                </div>
            </div>
            <div class="row large-12">
                <h2 class="text-center">
                    Tema 3
                </h2>

                <div class="large-12 large-centered columns text-center">
                    <div class="row">
                        <a href="{% url 'homework3.views.homework_three' %}">Problema 1</a>
                    </div>
                </div>
            </div>
            <div class="row large-12">
                <h2 class="text-center">
                    Tema 4
                </h2>

                <div class="large-12 large-centered columns text-center">
                    <div class="row">
                        <a href="{% url 'homework456.views.homework_four' %}">Problema 1</a>
                    </div>
                </div>
            </div>
            <div class="row large-12">
                <h2 class="text-center">
                    Tema 5
                </h2>
                <div class="large-12 large-centered columns text-center">
                    <div class="row">
                        <a href="{% url 'homework456.views.homework_five' %}">Problema 1</a>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>
    <aside class="large-1 columns">
        <h5>Teme</h5>
        <ul class="side-nav">
            <li>
                Tema 1
                <ul>
                    <li>
                        <a href="{% url 'homework1.views.problem_one' %}">Problema 1</a>
                    </li>
                    <li>
                        <a href="{% url 'homework1.views.problem_two' %}">Problema 2</a>
                    </li>
                    <li>
                        <a href="{% url 'homework1.views.problem_three' %}">Problema 3</a>
                    </li>
                </ul>
            </li>
            <li>
                Tema 2
                <ul>
                    <li>
                        <a href="{% url 'homework2.views.homework_two' %}">Problema 1</a>
                    </li>
                </ul>
            </li>
            <li>
                Tema 3
                <ul>
                    <li>
                        <a href="{% url 'homework3.views.homework_three' %}">Problema 1</a>
                    </li>
                </ul>
            </li>
            <li>
                Tema 4
                <ul>
                    <li>
                        <a href="{% url 'homework456.views.homework_four' %}">Problema 1</a>
                    </li>
                </ul>
            </li>
            <li>
                Tema 5
                <ul>
                    <li>
                        <a href="{% url 'homework456.views.homework_five' %}">Problema 1</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>


<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jquery.ba-bbq.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/matrix.js' %}"></script>

{% block footer_libs %} {% endblock %}
<script>
    $(document).foundation();
</script>
</body>
</html>